.header-nav {
    flex-direction: row;
    justify-content: space-between;
}

.header-nav .display-none {
    display: inline-block;
}

.main-headline {
    margin: 1.6rem;
}

.secondary-headline {
    margin: 0 1.6rem 1.6rem;
    flex-direction: row;
    gap: 1.6rem;
}

.footer__container {
    margin: 0 auto;
    padding: 3.2rem 0 4.8rem;
}

.footer__width-a {
    width: 20%;
    padding: 0 1.2rem;
}

.footer__width-b {
    width: 20%;
    padding: 0 1.2rem;
}
